<div class="container">

  <div class="container pt-3">
    <h1>welcome to Bookers !!</h1>
  </div>
  <div class="container">
    <p>
    In Bookers,<br>
    you can share and exchange your opinions , inpressions , and emotions<br>
    about various books!</p>
  </div>
  
  <div class="container">
    <div class="col p-1">
      
      <button type="button" class="btn btn-outline-primary"><i class="fas fa-archway"></i><%= link_to "sign up", new_user_registration_path, class: 'post' %></button>
    </div>
  </div>
  
  <div class="container">
    <div class="col p-1">
      <button type="button" class="btn btn-outline-primary"><i class="fas fa-archway"></i><%= link_to "log in", new_user_session_path, class: 'post' %></button>
    </div>
  </div>

</div>